html{
font-size: 10px;


}
body{
    font-size: 1.6rem;
    font-style: normal;
    position: absolute;


}
header, footer, .slider{
    width: 100%;
    max-width: 1020px;
  
   
}



.wrapper{
    margin-right:30px;
    margin-left:30px;
     line-height: 150%;  
}



header{
    
    height: 96px;
    background-color: #2d303a;
      
}

h1{
   
    font-size: 2rem;
    float:left;    
    margin-left: 10px;
    color: #a3a3a6;
}
.color{
    color: #d6645e;  
}
h1, .href {
    color: #a3a3a6;
  
}
 

.shadow{
       
    height: 5px;
    background-color: #323746;
}


.header__navigation{
    float:right;
    margin-top: 35px;
    margin-bottom: 35px;
    
}
.header__navigation ul{
    margin: 0px;
    padding: 0 auto;
    list-style: none;
}
.header__navigation li {
    display: inline-block;
    margin-right: 30px;
 
}
.header__navigation li .end{
    margin-right: 10px;
}
.header__navigation a{
    text-decoration: none;  
   
}



.slider{ 
    height: 600px;
    background-color: #f06c64;
    position: relative;

    }
    .phone_horizontal{ 
        position: absolute;
        right: 110px; top: 175px;
       
    }
    .phone_vertical{
       /* border: brown 3px solid; */
        /* transform: rotate(-90deg); */
        position: absolute;
        top: 50px; left: 110px;      
        margin: 0px;      
    }
    .chev img{
        position: absolute;
        top: 250px; left: 10px; 
    }
        
   


footer{  
    background-color: #f2f2f2;
    width: 1020px;
    height: 500px;
    font-size: 18px;
    color: #8a90aa;
  }
  .our-services .wrapper{
    padding-top: 60px;
    padding-left: 40px;  
        
    }   
    .column-3{
        width: 100%;
         max-width: 300px;
         height: 100px;
         position: static;
         font-size: 14px;
         float: left;
         margin-top: 60px;  
          
         }
     
         .string .column-3 {
             margin-top: 30px;           
             
         }
         .img-src{
             position: static;
             width: 100%;
             max-width: 80px;
             height: 150px;
             border-radius: 50%;      
             float: left;    
         }
         
         h3{
             margin-top: 0px;  
             font-weight: 800; 
             line-height: 100%;     
                    
         }
         h2{       
             margin-top: 0px;
             line-height: 100%;
         }
       
         .column-3 p {
               
             padding-right: 0px;
         }
         .column-3 .right{
             margin: 0 auto;
             padding:10px;
         }  
        
         .href:hover{
             color: #d6645e;
         }
     
         .column-3 img:hover{
             background-color: lightpink;
             border-radius: 50%;
         }
         /* .chev img:hover{
            background-color: rgb(66, 60, 61);
        }
        */

  
    
    


    