html{
font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-style: normal;
}
.wrapper{
    margin-right:30px;
    margin-left:30px;
}

header, footer, .slider{
    width: 100%;
    max-width: 1020px;
  
}

header{
    
    height: 96px;
    background-color: #2d303a;
      
}

h1{
   
    font-size: 2rem;
    float:left;    
    margin-left: 10px;
    color: #a3a3a6;
}
.color{
    color: #d6645e;  
}
h1, .href {
    color: #a3a3a6;
  
}
.header__navigation .href:hover{
    color: #d6645e;
}


.shadow{
       
    height: 5px;
    background-color: #323746;
}


.header__navigation{
    float:right;
    margin-top: 35px;
    margin-bottom: 35px;
    
}
.header__navigation ul{
    margin: 0px;
    padding: 0 auto;
    list-style: none;
}
.header__navigation li {
    display: inline-block;
    margin-right: 30px;
 
}
.header__navigation li .end{
    margin-right: 10px;
}
.header__navigation a{
    text-decoration: none;  
   
}
.wrapper:after {  
    display: table;
    clear: both;
}



.slider{ 
    height: 600px;
    background-color: #f06c64;
    margin-left: auto 0;
    margin-right:auto 0;
    position: relative;

}
 
    .phone_horizontal{ 
        position: absolute;
        right: 110px; top: 175px;
       
    }
    .phone_vertical{
        transform: rotate(90deg);
        position: absolute;
        top: 150px; left: 10px;      
        margin: 0px;      
    }
        
   
    .slider img{
        border-radius: 20px;
    }

    




footer{  
    width: 1020px;
    height: 500px;
    font-size: 18px;
    color: #8a90aa;
    background-color: #f2f2f2;
}


.our-services .wrapper{
    padding-top: 60px;
    padding-left: 40px;  
        
}



.column-3{
   width: 100%;
    max-width: 300px;
    height: 100px;
    position: static;
    font-size: 14px;
    float: left;
    margin-top: 30px;
    
 
    }
    .img-src{
        position: static;
        width: 100%;
        max-width: 80px;
        height: 150px;
      
        float: left;    
    }
    
    h3{
        margin-top: 0px;  
        font-weight: 800; 
        line-height: 100%;     
               
    }
    h2{
       
        margin-top: 0px;
    }

    .column-3 p {
        line-height: 150%;     
        padding-right: 0px;
    }
    /* .column-3 .right{
        margin:s 0 auto;
        padding:20px;
    } */

    

